@import 'loader';
@import 'buttons';

body {
  font-family: $font-family-base;
  color: #8E8E8E;
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.border-primary {
  border: 1px solid $primary  !important;
}

#google_translate_element {
  position: fixed;
  bottom: 0;
  left: 0;

  .goog-te-combo {
    @extend .btn, .btn-light;
  }
}

@import 'swiper';