@import 'loader';
@import 'buttons';

body {
  font-family: $font-family-sans-serif;
  color: #8E8E8E;
  scroll-behavior: smooth;
}

.border-primary {
  border: 1px solid $primary  !important;
}

#google_translate_element {
  position: fixed;
  bottom: 0;
  left: 0;

  .goog-te-combo {
    @extend .btn, .btn-light;
  }
}