// Body
$body-bg: #131419;

// Typography
$font-family-base: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary: #05a0a0;
$white-color: #ffffff;
$dark-color: #000000;
$secondary: #111111;