// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Utilities
@import 'util/global';

/* Page Styles */
header {
  display: flex;

  .nav-link {
    font-size: 1em !important;
    font-weight: 600 !important;

    &:hover {
      color: $primary  !important;
      transition: all 1s ease-in-out !important;
    }
  }
}

.hero {
  position: relative;

  div {
    height: 70vh;
  }

  #particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: #131419;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  &-content {
    display: grid;
    place-items: center;
    padding-top: 2em;
  }

}

.auth-buttons {

  .btn {
    @extend .border-primary;
    color: $white-color  !important;
    display: inline-block !important;
    margin-right: 14px !important;
    border-radius: 100px !important;
    padding: 14px 25px !important;
    text-transform: uppercase;
    font-weight: bold !important;
  }
}

.how-it-works {
  display: grid;
  place-items: center;

  &-title {
    font-size: 2.2em;
    letter-spacing: .2em;
    display: inline-block;
    margin-bottom: 1em;
    line-height: 1.2;
    word-wrap: break-word;
    border-bottom: 1px solid $primary;
  }
}