@import 'utility';

.sidebar {
  &-body {
    &-menu {
      a:hover {
        transform: translateX(10px);
      }
    }
  }
}

.welcome {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../images/welcome_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  position: relative;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
}

.overview {
  @extend .d-flex, .justify-content-between, .align-items-center, .mb-3;

  &-leading {
    @extend .d-flex, .align-items-center;

    &-icon-wrapper {
      @extend .rounded, .me-3, .d-flex, .align-items-center;
      padding: .7rem;

      * {
        height: 18px;
        width: 18px;
      }
    }

    &-title {
      @extend .fs-6;
    }
  }

  &-item {
    @extend .fs-6, .fw-bold;
  }
}

.user-image-wrapper {
  @extend .d-flex, .justify-content-center;
  margin-bottom: 3.7rem;
}

.user-image-wrapper .user-image {
  position: absolute;
  top: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(34, 41, 47, 0.14);
}

.user-avatar {
  white-space: nowrap;
  background-color: #c3c3c3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  vertical-align: middle;

  img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-style: none;
    border-radius: 50%;
  }
}

.stat-cards {
  .col-xl-3 {
    margin-bottom: 20px;
  }
}

.available-plans {
  @extend .mx-1, .mb-2;

  .plan {
    @extend .p-0;
    border-radius: 10px 0 0 0 !important;
    box-shadow: 0 0 50px #283046;

    &-duration {
      @extend .p-2, .text-center;
      border-right: 4px solid $primary;
    }

    &-item {
      @extend .p-2, .mb-1;
      background-color: $dash-dark;
      border-left: 2px solid $primary;

      &:last-of-type {
        @extend .mb-0;
      }

      .value {
        @extend .fw-bold, .text-uppercase;
      }
    }

    &.choice {
      box-shadow: 0 0 20px #cfd1d6;
    }
  }
}

.payment-channels {
  @extend .justify-content-center, .align-items-center, .text-center, .mb-4, .mx-2;

  .coin {
    text-transform: uppercase;
    position: relative;
    max-width: 200px;
    margin: 15px auto 0;
    border-radius: 40px 0 40px 0;
    box-shadow: 0 0 30px #000000fd;
    padding: 7px;
    border-top: 5px solid #121212;
    overflow: hidden;
    cursor: pointer;
    background-color: $white-block-dark;
    color: #ffffff;
    font-size: .8rem;

    &.choice {
      box-shadow: 0 0 15px #cfd1d6cb;
      border-top: 5px solid scale-color($color: $orange, $lightness: -70%);
    }
  }
}

.withdrawals {
  p {
    color: #6e6b7b;
  }
}