.darkmode {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #D0D2D6;
  }

  & .user-image-wrapper .user-image {
    background-color: #161624;
  }

  & input.form-control,
  & .custom-file-label,
  & textarea.form-control {
    background-color: #283046;
    color: #B4B7BD;
  }

  & input.form-control:not(:focus),
  & .custom-file-label:not(:focus),
  & textarea.form-control:not(:focus) {
    border-color: #404656;
  }

}