.bg-purple {
  background-color: #5f2eea1a !important;
}

.bg-light-success {
  background: #28c76f1f !important;
}

.text-light-success {
  color: #28c76f !important;
}

.bg-light-warning {
  background: #ff9f431f !important;
}

.text-light-warning {
  color: #ff9f43 !important;
}

.bg-light-info {
  background: #00cfe81f !important;
}

.text-light-info {
  color: #00cfe8 !important;
}

.bg-light-danger {
  background: #ea54551f !important;
}

.text-light-danger {
  color: #ea5455 !important;
}

.bg-light-secondary {
  background-color: #82868b1f;
}

.text-light-secondary {
  color: #82868b !important;
}

// * Overriding bootstrap default
.form-control {
  border: .05rem solid #ffffff3f !important;
  outline: none !important;
}

.form-control:focus {
  border: 1px solid #7367F0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.card {
  @extend .border-0;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
}

.avatar {
  @extend .rounded-circle, .p-2, .mb-3, .bg-light-info, .text-light-info, .w-50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  color: #6e6b7b;

  th {
    text-transform: uppercase;
  }
}

@import 'darkmode_mod';